<main>
  <section>
    <div class="container">
      <aside class="books-sidebar sidebar">
        <h2 class="sidebar-title">Books</h2>
        <ul class="sidebar-list">
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn"></button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn"></button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn"></button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn"></button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn"></button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn"></button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn"></button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn"></button>
          </li>
        </ul>
      </aside>
      <div class="book-list">
        <article class="books-item">
          <div class="books-item-cover">
            <img class="books-item-ill" src="" alt="" />
          </div>
          <div class="books-item-body">
            <h3 class="books-item-title">Colleen Hoover</h3>
            <p class="books-item-descr">It starts with us</p>
            <p class="books-item-price">$10</p>
          </div>
          <button type="button" class="books-item-btn">Learn more</button>
        </article>
      </div>
    </div>
  </section>
</main>
